<body>
    <div class="container-fluid d-flex justify-content-center align-items-center">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Área Restrita</h1>
            <p class="card-text">Esta área é restrita a usuários administrativos.</p>
            <p class="card-text">Por favor, faça o <a href="login">login</a> como administrador para acessá-la, ou então,
              retorne para nossa <a href="">página inicial</a>.</p>
          </div>
        </div>
      </div>
</body>