<main>
  <h2>Veículos Disponíveis</h2>
  <div class="card veiculo-container" *ngFor="let veiculo of veiculos">
    <img [src]="imageUrlMap[veiculo.id!]" class="card-img-top" alt="Imagem do Veículo">
    <div class="card-body">
      <h5 class="card-title">{{ veiculo.marca }}, {{ veiculo.modelo }}</h5>
      <p class="card-text">R{{ veiculo.valor | currency }}</p>
      <button class="btn btn-primary" (click)="editarVeiculo(veiculo.id)">Editar</button>
      <button class="btn btn-danger mx-2" (click)="excluirVeiculo(veiculo.id)">Excluir</button>
    </div>
  </div>
</main>

<!-- <footer class="bg-dark text-center text-white">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023, Developed by
    <a class="text-white" href="https://github.com/Rdemora2" target="_blank">Roberto Moraes</a>
  </div>
</footer> -->
