<body>
    <header class="bg-dark text-white text-center py-5">
      <h1 class="display-4">Sobre a Car View</h1>
      <p class="lead">Conheça um pouco sobre nossa empresa e nossa história!</p>
    </header>
  
    <div class="container my-5">
      <h2 class="mb-4">Nossa História</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a arcu ullamcorper, viverra dolor vel, consectetur lorem. Aliquam sed nulla eu libero ultricies sagittis. Nullam in orci eget quam fermentum ultricies ac in nisi. Vestibulum vestibulum iaculis tortor, et consequat odio euismod nec. Ut id lorem ut massa scelerisque malesuada nec ac ligula. Sed posuere tincidunt feugiat. Praesent consectetur tincidunt odio id posuere. Integer elementum lacus velit, in venenatis justo laoreet eu.</p>
  
      <h2 class="mb-4">Nossa Missão</h2>
      <p>Nossa missão é proporcionar aos nossos clientes a melhor experiência possível ao comprar ou vender veículos. Nosso compromisso é oferecer um catálogo diversificado de carros de qualidade e prestar um atendimento personalizado, garantindo a satisfação de cada cliente.</p>
  
      <h2 class="mb-4">Nossa Visão</h2>
      <p>Nossa visão é ser a plataforma líder em compra e venda de veículos, tornando a Car View a primeira escolha para quem procura um carro novo ou usado. Queremos oferecer um serviço confiável, seguro e eficiente para facilitar o processo de compra e venda de veículos.</p>
    </div>
    <footer class="bg-dark text-center text-white">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023, Developed by
            <a class="text-white" href="https://github.com/Rdemora2" target="_blank">Roberto Moraes</a>
        </div>
    </footer>
  </body>