<h2>Cadastrar Novo Veículo</h2>
<form (submit)="criarVeiculo()">
  <label>
    Marca:
    <input type="text" [(ngModel)]="novoVeiculo.marca" name="marca" required>
  </label>
  <br>
  <label>
    Modelo:
    <input type="text" [(ngModel)]="novoVeiculo.modelo" name="modelo" required>
  </label>
  <br>
  <div class="form-group">
    <label for="foto">Foto do Veículo:</label>
    <input type="file" id="foto" name="foto" (change)="onFotoSelecionada($event)">
  </div>
  <br>
  <label>
    Valor:
    <input type="number" [(ngModel)]="novoVeiculo.valor" name="valor" required>
  </label>
  <br>
  <button type="submit">Criar Veículo</button>
</form>
